{% extends "home.html" %}

{% block content %}
<title>login</title>
{% load static %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">
<body>
    <h1>Login</h1>
    <form method="POST">
    {% csrf_token %}
    <div class="container">
      {{ form }}
      <button type="submit" class="logbtn">Submit</button>
    </div>
    <div class="container signin">
      <p>dont have an acount <a href="{% url 'registration' %}">Register</a></p>
    </div>
  </form>
</body>


{% endblock content%}